@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?bk4w3f');
    src:    url('../fonts/icomoon.eot?bk4w3f#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?bk4w3f') format('truetype'),
        url('../fonts/icomoon.woff?bk4w3f') format('woff'),
        url('../fonts/icomoon.svg?bk4w3f#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e902";
    padding-right: 8px;
}
.icon-catalogo:before {
    content: "\e936";
    padding-right: 8px;
}
.icon-phone:before {
    content: "\e942";
    padding-right: 8px;
}
.icon-ubicacion:before {
    content: "\e948";
    padding-right: 8px;
}
.icon-lugar:before {
    content: "\e94b";
    padding-right: 8px;
}
.icon-clave:before {
    content: "\e98d";
    padding-right: 8px;
}
.icon-registro:before {
    content: "\e9b8";
    padding-right: 8px;
}
.icon-nombre:before {
    content: "\e9dc";
    padding-right: 8px;
}
.icon-login:before {
    content: "\ea13";
    padding-right: 8px;
}
.icon-email:before {
    content: "\ea85";
    padding-right: 8px;
}
.icon-carrito:before {
    content: "\e93a";
    padding-right: 8px;
}



body{
	font-family: 'Allerta', sans-serif;
	margin: 0;
	background-color: #273B47
}

h1{
	display: inline-block;
}

label{
	font-size: 25px;
}

a{
	text-decoration: none;
	color: #FFFFFF;
}

table{
	width: 100%;
}

th{
	background-color: #273b47;
	color: white;
	padding: 10px 20px;
	text-align: left;
}

td{
	padding: 20px;
}

table,th,td{
	border:1px solid #273b47;
	border-collapse: collapse;
}




.header{
	background-color: #273B47;
	padding-top: 0;
	position: relative;
}

.menu a{
	text-decoration: none;
	color: white;
	padding-right: 10px; 
}


.logotipo{
	display: inline-block;
	padding:10px 0px 5px 0px;
	margin:0 20px 0 100px;
}


.menu li{
	display: inline-block;
	padding-left: 10px;
}

.menu{
	font-size: 25px;
	display: inline-block;
	position: absolute;
	right: 0;
	padding:18px 100px 0 0; 
}

.imagenes{
	position: relative;
	overflow: hidden;
}

.texto{
	position: absolute;
	overflow: hidden;
	clear:both;
	text-align: center;
	padding-left: 250px;
}

.background{
	background:url(../images/Imagen1.png) no-repeat;
	height: 720px;
	width: 100%;
}

.titulo{
	font-size: 100px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.title-a, .title-b{
	font-size: 60px;
	margin-top: 0;
	color: #ffffff;
}

.button, .boton, .boton-entrar,.btn-comprar{
	font-size: 40px;
	border-radius: 12px;
	border:none;
	background-color: #FD0C00;
	color: white;
	padding: 7px 12px;
	cursor: pointer;
	text-decoration: none;
	background:linear-gradient(to left,#FD0C00,#FF7250);
}

.demo,.demo1{
	display: flex;
}

.p, .pl, .c, .t,.sud,.ci, .rd, .traban{
	padding-left:15px;
	opacity: 0.5;
}

.p,.ci{
	padding-left: 100px;
}

.t:hover, .p:hover, .pl:hover, .c:hover,.sud:hover,.ci:hover,.rd:hover,.traban:hover{
	opacity: 1;
}

.nombre{
	text-align: center;
	width: 284px;
	margin-right: 16px;
}

.seccionform{
	border: #256635 solid 3px;
	width: 450px;
	background: #FFFFFF;
	margin-left: 440px;
	margin-top: 0;
}

.datos{
	width: 400px;
	padding:5px 0;
}

.registro{
	font-family: 'Allerta', sans-serif;
	font-size: 40px;
	text-align: center;
	margin: 15px 0;
}

.cliente{
	margin-right:50px; 
}

.apellido{
	margin-right: 35px;
}

.clave{
	margin-right: 20px;
}

.ubicacion{
	margin-right: 60px;
}

.estado{
	margin-right: 64px;
}

.direccion{
	margin-right: 33px;
}

.referencia{
	margin-right: 24px;
}

.email{
	margin-right: 73px;
}

.phone{
	margin-right: 44px;
}

.boton{
	font-size: 17px;
	margin-top: 15px;
	margin-left: 315px;	
	margin-bottom: 8px;
}


.entrar{
	font-family: 'Allerta', sans-serif;
	font-size: 40px;
	text-align: center;
	margin: 15px 0;
}

.boton-entrar{
	font-size: 17px;
	margin-top: 15px;
	margin-left: 190px;	
	margin-bottom: 8px;
}

.sec-tienda{
	display: flex;
}

.tienda, .alpha{
	margin-left: 0px;
    margin-top: 50px;
    background: #FFFFFF;
    margin-right: 33px;
    width: auto;
    height: 413px;
    margin-bottom: 20px;
}


.producto{
	margin-left: 5px;
	margin-right: 5px;
	align-items: center;
	
}

.img{
align-items: center;
}

.nombre-producto{
	font-size: 20px;
	text-align: center;
}

.talla, .precio-producto{
	font-size: 16px;
	text-align: center;
}

.btn-comprar{
	font-size: 14px;
	text-align: center;
}

select {
	font-size: 14px;
    padding:3px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    margin-left: 1070px;
}


.contenedor{
	width: 800px;
	margin: auto;
	position: relative;
	background-color: #ffffff;
}
.tabla{
	margin: 50px 0;
}

.btn-comprar.carrito{
    width: 360px;
    margin-left: 500px;
}

.talla,.talla1{
	width: 234px;
	display: inline-block;
	text-align: center;
}

.talla1{
	margin-bottom: 
}
.img-producto{
	border-radius: 5%;
}

.img-producto.detalles{
	margin-left: 180px;
}

.alpha.center{
	margin:0 25% 0 25%;
	width: 100%;
	height: 530px;
	align-content: center;
}

.talla.detalles{
	width: 100%;
	font-size: 18px;
}

.btn-comprar.detalles{
	margin-bottom: 0;
}

.flex{
display: flex;
}

.alpha{
	
	margin-left: 100px;
    margin-bottom: 20px;
    border-radius: 5%;
}